@model List<Datatype>
@{
  ViewData["Title"] = "Home Page";
}

<table>
  <tr>
    <td>id</td>
    <td>first_name</td>
    <td>last_name</td>
    <td>gender</td>
    <td>datatime</td>
    <td>number</td>
  </tr>
  @if (Model != null)
  {
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.id</td>
        <td>@item.first_name</td>
        <td>@item.last_name</td>
        <td>@item.gender</td>
        <td>@item.datatime</td>
        <td>@item.number</td>
      </tr>
    }
  }
</table>
